* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: gray;
}

.pagina {
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
   border: 1px solid white;    
border-bottom: 1px solid purple;
}

.encabezado {
    background-color: orange; 
    color: white;
    padding: 15px 25px;
    display: flex;
    align-items: center; 
    gap: 20px;
}

.encabezado .logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

.encabezado .titulo-texto {
    text-align: left;
}

.encabezado h1 {
    font-size: 28px;
    letter-spacing: 1px;
}

.encabezado p {
    font-size: 14px;
    margin-top: 5px;
}
.diseño {
    display: flex;
    flex-direction: row;
    min-height: 500px;
}

.barra {
    width: 220px;
    background-color: purple; 
    padding: 20px 0;
}

.barra a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-weight: bold;
    border: 1px solid white;   
border-bottom: 1px solid purple;
}

.barra a:hover {
    background-color: purple;
}

.barra a.activo {
    background-color: purple;
    border-left: 4px solid orange;
}

.contenido {
    flex: 1;
    padding: 25px 30px;
    background-color: white;
}

.contenido h2 {
    background-color: orangered;   
    color: white;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.contenido h3 {
    color: purple;
    margin-top: 20px;
    margin-bottom: 8px;
    border-bottom: 2px solid orange;
    display: inline-block;
}

.contenido p {
    line-height: 1.6;
    margin-bottom: 12px;
}

.contenido img {
    display: block;
    width: 300px;
    height: 220px;
    object-fit: cover; 
    margin: 15px auto;
    border: 3px solid orange;
    border-radius: 6px;
}

.contenido ul, .content ol {
    margin-left: 25px;
    margin-bottom: 15px;
}

.contenido li {
    margin-bottom: 6px;
}

.contenido table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 15px;
}

.contenido th {
    background-color: purple;
    color: white;
    padding: 8px;
    text-align: left;
}

.contenido td {
    padding: 8px;
    border: 1px solid white;
}

footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 13px;
}